* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(33, 33, 40);
  color: rgb(196, 196, 196);
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

h1 {
  font-size: 9rem;
}

nav {
  text-align: end;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  right: 10px;
}

nav li {
  list-style-type: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  margin: 1rem;
}

main {
  padding: 0 4rem;
  border: 10px solid red;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 10px solid green;
  width: 100%;
  padding: 10rem;
}

h2 {
  font-size: 4rem;
  align-self: center;
  padding: 3rem;
}

div {
  display: flex;
  justify-content: flex-start;
}

#my-picture {
  align-self: flex-start;
  max-width: 300px;
  box-shadow: 2px 2px 5px rgb(135, 134, 134);
  border-radius: 15px;
  margin: 5rem;
}

img {
  max-width: 400px;
  /* filter: blur(10px); */
}

p {
  font-size: 2rem;
  padding: 3rem;
}

a:hover {
  cursor: pointer;
  font-size: 150%;
  text-decoration: underline;
}

a:visited {
  color: rgb(196, 196, 196);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#media {
  align-self: ;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span[data-info] {
  position: relative;
  color: rgb(196, 196, 196);
  cursor: pointer;
}

span[data-info]:hover::after {
  content: attr(data-info);
  position: absolute;
  left: 10px;
  bottom: 125px;
  min-width: 150px;
  border-radius: 15px;
  background-color: white;
  padding: 12px;
  color: rgb(33, 33, 40);
  font-size: 2rem;
  z-index: 1;
}
